/* Write your code here. */
.gallery-container {
  display: flex;
  flex-direction: column;
  width: 70vh;
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 1140px;
}
.app-container {
  display: flex;
  justify-content: center;
}
.selected-image {
  border-radius: 20px;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}
.description {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #64748b;
}
.thumbsnail-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}
